# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter_tool_state
.pub-cache/

# IDE
.vscode/
.idea/
*.iml

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/GeneratedPluginRegistrant.kt

# iOS / MacOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Web
.web/

# Windows/Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Misc
.DS_Store
*.log
